{% extends '_layouts/public.html.twig' %}

{% block title %}Registration Completed{% endblock %}

{% block content %}
<div class="box span-17 last">
    <h2>User Registration</h2>
    <p>Thank you for registering.</p>

    <h3>You Still Need to Validate!</h3>
    <p>
       You will receive an email with a url to validate your account so we know you are a real person.
       <strong>How To:</strong>Click on the link in the email; that's all!
    </p>
</div>
{% endblock %}
