{% extends '_layouts/email_user.html.twig' %}

{% set subject %}iPlant - Password Reset{% endset %}

{% block content %}
<p style="color:#333;font-family:Arial, Helvetica, sans-serif; font-size:12pt;">You have requested to reset your password.</p>
<p style="color:#333;font-family:Arial, Helvetica, sans-serif; font-size:12pt;">To change your password, go to <a style="color: #0098aa;font-weight:bold;" target="_blank" href="{{ reset_url }}">{{ reset_url }}</a></p>
<p style="color:#333;font-family:Arial, Helvetica, sans-serif; font-size:12pt;">If you have not made this request, please ignore it and report this to iPlant at <a style="color: #0098aa" target="_blank" href="http://www.iplantcollaborative.org/support">http://www.iplantcollaborative.org/support</a>.</p>
{% endblock %}
