{% extends '_layouts/public.html.twig' %}

{% block title %}You Must Validate Your Account{% endblock %}

{% block content %}
<div class="box span-17 last">
    <h2>You Must Validate Your Account</h2>
    <p>You cannot yet login because your account has not yet been validated.</p>

    <p>
       After you registered, you should have received an email with a url.
       This will validate your account so we know you are a real person.
       <strong>How To:</strong>Click on the link in the email; that's all!
    </p>
</div>
{% endblock %}
